1.mock处理器的增删改查
2.启用/停用mock处理器
3.运行中task的手动关闭
4.用户管理
5.项目管理
6.项目-mock处理器的数据权限
7.项目启动时加载所有启用的处理器
8.处理器数据的导出和导入

管理
7.任意用户均可创建项目.创建人为默认超级管理员
8.项目可关联任意数量用户
9.项目仅可关联一位超级管理员
10.超级管理员可以添加管理员
11.超级管理员和管理员可以对项目成员进行管理
12.超级管理员可以移交超级管理员身份给管理员
13.管理员和成员可以增删改查关闭启用mock处理器
14.考虑逻辑删mock处理器


user
--|project
----|member